
header{
    background-image: url(../Assets/Hero-bg.png);
    margin: 2px ;
    padding: 4px;
}

 
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 158px;
}
.btn-primary{
         background-color: #434FFF;
         color: #FFFFFF;
         font-weight: bold;
         font-size: 16px;
         padding: 12px 36px;
         border-radius: 5px;
}
.header-2{
    align-items: center;
    text-align: center;
     
}

.nav-title{
    font-weight: 99px;
    font-size: 34px;
    color: #434FFF;
}

nav ul li{
    list-style: none;
}

.item-1{
    text-align: center;
}


.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  align-items: center;
  font-weight: bold;
  font-size: 65px;
}

.btn-first{
     background-color: #4E47FF;
         color: #FFFFFF;
         font-weight: bold;
         font-size: 10px;
         padding: 12px 26px;
         border-radius: 5px;  
}

.banner{
    display: flex ;
    justify-content: space-between;
    margin: 50px 150px;
    background-color:white;
}

.banner-conten{
         max-width: 517px;
}

.banner-title{
    font-weight: bold;
    font-size: 46px;
}

.baner-profile-pic{
    width: 403px;
    height: 302px;
    box-shadow: 10px 10px 10px;
    border-radius: 15px;
}
 .header-content{
    background-color: #dedee7;
    margin: 40px 300px;
    padding: 50px 80px;
    border-radius: 10px;

 }

 .div-item{
    display: flex; 
    text-align: center;
    margin: 20px 150px;
    color: #FFFFFF;
 }
 .same-color{
  color: #434FFF;
  margin: 20px 30px;
  
    
 }

.user{
    text-align: center;
}

.raleway-simple {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  font-weight: bold;
  font-size: 42px;
}

.skill-container{
    display: flex;
    background-color: #FFFFFF;
    margin: 20px 150px;
    border: 4px;
    box-shadow: 20px 20px 30px;
    border-radius: 10px;
   

}
.skill{
    margin: 60px;
}
.li-1{
    font-size: 13px;
}

.user-1{
    text-align: center;
    font-size: 30px;
    font-weight: 700px;
}
.user-2{
    text-align: center;
}

.content-1{
    background-color:#FFFFFF ;
    margin: 50px 200px;
    padding: 10px 71px;
    
}

.bg-1{
    height: 364.77px;
    width: 840px;
    border-radius: 10px;
    justify-content: space-between;

}


.center{
    text-align: center;
    margin:10px 350px;
    background-color: #434FFF;
    padding: 10px;
    border-radius: 5px;
    color: aliceblue;
    
}

.main-2{
    font-size: 50px;
}

.touch-button{
    display: flex;
    background-color: #FFFFFF;
    margin: 30px 300px;
    border-radius: 10px;
    

}

.main-holder{
    margin:  50px 70px;
}

.message-1{
    padding: 20px;
}

.button-4{
    background-color: #3f4af0;
    padding: 7px 65px;
    border-radius: 5px;
    color: #ededfc;
}

.secondary-bg{
    background-color: #FFFFFF;
}

.section-title{
    font-size:50px ;
    font-weight:bold;
   color: #434FFF;
    
}

.section-description{
    font-size: 30px;
    color: azure;
    
}
.about-items:hover{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: rgb(23, 126, 215);
}

.about{
    border-radius: 10px;
    padding: 30px 100px;
    text-align: center;
    margin: 10px;
    
   
}

